@import "../../assets//variabe.style.scss";

.checkoutfullllll {
    margin: 30px 0;

    .ant-tabs {


        .ant-tabs-nav {
            .ant-tabs-nav-wrap {
                justify-content: left;

                .ant-tabs-nav-list {
                    .ant-tabs-tab {
                        .ant-tabs-tab-btn {
                            font-family: fonttextbicine;
                            padding: 7px 15px;
                            font-size: 20px;
                            background: linear-gradient(100deg, #7efd9e, #2a92fd);
                            color: white;
                            border-radius: 10px;
                        }
                    }

                    .ant-tabs-tab-active {
                        opacity: 0.7;
                    }

                    .ant-tabs-ink-bar {
                        background: linear-gradient(100deg, #7efd9e, #2a92fd);
                    }
                }
            }
        }
    }
}


.Checkout {
    min-height: 100vh;

    .Checkout-thanhcong {
        display: flex;
        align-items: center;
        justify-content: center;

        .Checkout-thanhcong-content-lon {
            background-color: rgba(0, 0, 0, 0.253);
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 10;
            display: none;
            // align-items: center;
            // justify-content: center;

        }

        .Checkout-thanhcong-content {
            position: fixed;
            top: 30%;
            // left: 25%;
            width: 30%;
            background: white;
            padding: 20px;
            border-radius: 15px;
            text-align: center;
            opacity: 0;
            z-index: 11;
            transition: opacity ease 0.6s;

            i {
                color: #6fe683;
                font-size: 135px;
                margin-bottom: 20px;
            }

            h3 {
                font-family: $font-bicine2;
                font-size: 47px;
                margin-bottom: 20px;
            }

            button {
                border: none;
                background: $bg-color-btn;
                border-radius: 10px;
                padding: 10px;

                a {
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: white;
                }
            }
        }
    }

    .Checkout-tong {
        width: 100%;
        margin: 0;

        .Checkout-phong {
            margin-top: 20px;

            .Checkout-phong-rap {
                width: 90%;
                margin: 0 auto;

                .Checkout-phong-rap-TTR {
                    margin-bottom: 20px;

                    .Checkout-phong-rap-img {
                        margin-right: 15px;

                        img {
                            border-radius: 10px;
                            width: 130px;
                        }
                    }

                    .Checkout-phong-rap-text {
                        color: white;

                        p {
                            font-family: fonttextbicine;
                            font-size: 35px;
                            margin-bottom: 0;
                        }

                        span {
                            font-family: fonttextbicine;
                            font-size: 20px;
                        }
                    }
                }

                .Checkout-phong-rap-ghe {
                    h4 {
                        color: white;
                    }

                    .manhinh {
                        height: 150px;

                        img {
                            border-radius: 10px;
                        }
                    }

                    .ghengoi {
                        margin-left: 20px;

                        button {
                            text-align: center;
                        }


                    }

                    .ghengoi-mota {
                        margin-top: 30px;
                        justify-content: center;

                        .ghengoi-text {
                            margin-bottom: 10px;

                            .gthuong {
                                padding: 5px 24px;
                                background-color: rgb(221, 221, 221);
                                border-radius: 8px;
                                margin-right: 15px;
                            }

                            .gvip {
                                padding: 5px 24px;
                                background-color: #ee1fa9;

                                border-radius: 8px;
                                margin-right: 15px;
                            }

                            .gdadat {
                                padding: 5px 24px;
                                background-color: #fa424b;
                                border-radius: 8px;
                                margin-right: 15px;
                            }

                            .gdangdat {
                                padding: 5px 24px;
                                background-color: #6fe683;
                                border-radius: 8px;
                                margin-right: 15px;
                            }

                            span {
                                color: white;
                                margin-right: 35px;
                                font-family: fonttextbicine;
                                font-size: 25px;

                            }

                        }
                    }
                }
            }
        }

        .Checkout-ve {
            min-height: 100vh;



            background-color: white;
            font-family: fonttextbicine;

            h4 {
                font-family: fonttextbicine;
                text-align: center;
                font-size: 45px;
                color: $primary-green;

            }

            h6 {
                font-size: 25px;

                .soghe {
                    font-size: 25px;
                    color: black;
                    color: #fd626a;

                }
            }

            p {
                font-size: 25px;
                font-family: fonttextbicine;

                .tien {
                    font-size: 35px;

                }




                span {
                    font-size: 30px;
                    margin-left: 10px;
                    font-weight: 500;
                    color: #fd626a;

                }
            }

            input {
                width: 100%;
            }

            select {
                width: 100%;
                // margin-bottom: 30px;
            }

            .tien {
                font-size: 38px;

            }



            button {
                font-size: 25px;
                margin-top: 30px;
                background: linear-gradient(100deg, #6fe6ba, #fd626a);
                border: none;
                border-radius: 10px;
                padding: 5px 10px;
                color: white;
                width: 100%;

                &:hover {
                    background: linear-gradient(100deg, #fd626a, #6fe6ba);

                }
            }
        }
    }
}

.Checkout-ttdv {
    width: 100%;
    margin-top: 50px;

    .Checkout-trang {
        border-radius: 20px;

        width: 70%;
        height: 750px;
        margin: 0 auto;
        background-color: white;
        box-shadow: 0 0 10px white;

        .Checkout-mau {
            background: linear-gradient(100deg, #8d63f0, #32c5cd);
            height: 180px;
            text-align: center;
            border-radius: 20px;

            h1 {
                font-family: fonttextbicine;
                color: #8d63f0;
                font-size: 50px;
            }

            h3 {
                font-family: fonttextbicine;
                color: #8d63f0;
                font-size: 35px;
            }

            img {
                margin-top: 60px;
                border-radius: 100%;
                border: 6px solid white;
                width: 200px;
            }

            .Checkout-tttk {
                text-align: left;
                width: 80%;
                margin: 0 auto;

                .Checkout-tttk-2 {
                    margin-top: 20px;

                    .Checkout-tungve {
                        .Checkout-img {
                            img {
                                border-radius: 10px;
                                margin-top: 0;
                                width: 80px;
                                border: 0;
                            }
                        }

                        .Checkout-text {}
                    }

                }
            }
        }
    }

    .gach {
        hr {
            margin-top: 50px;
            border: 1px solid white;
        }
    }

}

@media only screen and(min-width:375px) and (max-width: 414px) {
    .Checkout {
        // width: 100%;

        min-height: 100vh;

        .Checkout-thanhcong {
            display: flex;
            align-items: center;
            justify-content: center;

            .Checkout-thanhcong-content-lon {
                background-color: rgba(0, 0, 0, 0.253);
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: 10;
                display: none;
                // align-items: center;
                // justify-content: center;

            }

            .Checkout-thanhcong-content {
                position: fixed;
                top: 30%;
                // left: 25%;
                width: 53%;
                background: white;
                padding: 20px;
                border-radius: 15px;
                text-align: center;
                opacity: 0;
                z-index: 11;
                transition: opacity ease 0.6s;

                i {
                    color: #6fe683;
                    font-size: 77px;
                    margin-bottom: 20px;
                }

                h3 {
                    font-family: $font-bicine2;
                    font-size: 23px;
                    margin-bottom: 20px;
                }

                button {
                    border: none;
                    background: $bg-color-btn;
                    border-radius: 10px;
                    padding: 6px;

                    a {
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 13px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: white;
                    }
                }
            }
        }

        .Checkout-tong {
            width: 100%;
            margin: 0;

            .Checkout-phong {
                .Checkout-phong-rap {
                    width: 90%;
                    margin: 0 auto;

                    .Checkout-phong-rap-TTR {
                        margin-bottom: 20px;

                        .Checkout-phong-rap-img {
                            margin-right: 15px;

                            img {}
                        }

                        .Checkout-phong-rap-text {
                            color: white;

                            p {
                                font-family: fonttextbicine;
                                font-size: 34px;
                                margin-bottom: 0;
                            }

                            span {
                                font-family: fonttextbicine;
                                font-size: 20px;
                            }
                        }
                    }

                    .Checkout-phong-rap-ghe {
                        h4 {
                            color: white;
                        }

                        .manhinh {
                            height: 150px;

                            img {
                                border-radius: 10px;
                            }
                        }

                        .ghengoi {
                            .ghengoi-xxxx {
                                margin-left: 0;

                            }

                            button {
                                text-align: center;
                            }


                        }

                        .ghengoi-mota {
                            margin-top: 30px;
                            justify-content: center;

                            .ghengoi-text {

                                .gthuong {
                                    padding: 2px 12px;
                                    background-color: rgb(221, 221, 221);
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                .gvip {
                                    padding: 2px 12px;
                                    background-color: #ee1fa9;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                .gdadat {
                                    padding: 2px 12px;
                                    background-color: #fa424b;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                .gdangdat {
                                    padding: 2px 12px;
                                    background-color: #6fe683;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                span {
                                    color: white;
                                    margin-right: 9px;
                                    font-family: fonttextbicine;
                                    font-size: 12px;

                                }

                            }
                        }
                    }
                }
            }

            .Checkout-ve {
                width: 100%;


                h4 {}

                h6 {
                    .soghe {}
                }

                p {

                    .tien {}

                    span {}
                }

                input {}

                select {}

                .tien {}



                button {

                    &:hover {}
                }
            }
        }
    }

    .Checkout-ttdv {
        width: 100%;
        margin-top: 50px;

        .Checkout-trang {
            border-radius: 20px;

            width: 90%;
            height: 750px;
            margin: 0 auto;
            background-color: white;
            box-shadow: 0 0 10px white;

            .Checkout-mau {
                background: linear-gradient(100deg, #8d63f0, #32c5cd);
                height: 120px;
                text-align: center;
                border-radius: 20px;

                h1 {
                    font-family: fonttextbicine;
                    color: #8d63f0;
                    font-size: 40px;
                }

                h3 {
                    font-family: fonttextbicine;
                    color: #8d63f0;
                    font-size: 25px;
                }

                img {
                    margin-top: 30px;
                    border-radius: 100%;
                    border: 6px solid white;
                    width: 150px;
                }

                .Checkout-tttk {
                    text-align: left;
                    width: 90%;
                    margin: 0 auto;

                    .Checkout-tttk-2 {
                        margin-top: 10px;

                        .Checkout-tungve {
                            .Checkout-img {
                                img {
                                    border-radius: 10px;
                                    margin-top: 0;
                                    width: 65px;
                                    border: 0;
                                }
                            }

                            .Checkout-text {
                                h4 {
                                    font-family: fonttextbicine;

                                }

                                p {
                                    margin-bottom: 0;
                                }
                            }
                        }

                    }


                }
            }
        }

        .gach {
            hr {
                margin-top: 50px;
                border: 1px solid white;
            }
        }

    }
}

@media only screen and(min-width:414px) and (max-width: 768px) {
    .Checkout {
        // width: 100%;

        min-height: 100vh;

        .Checkout-thanhcong {
            display: flex;
            align-items: center;
            justify-content: center;

            .Checkout-thanhcong-content-lon {
                background-color: rgba(0, 0, 0, 0.253);
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: 10;
                display: none;
                // align-items: center;
                // justify-content: center;

            }

            .Checkout-thanhcong-content {
                position: fixed;
                top: 30%;
                // left: 25%;
                width: 48%;
                background: white;
                padding: 20px;
                border-radius: 15px;
                text-align: center;
                opacity: 0;
                z-index: 11;
                transition: opacity ease 0.6s;

                i {
                    color: #6fe683;
                    font-size: 77px;
                    margin-bottom: 20px;
                }

                h3 {
                    font-family: $font-bicine2;
                    font-size: 23px;
                    margin-bottom: 20px;
                }

                button {
                    border: none;
                    background: $bg-color-btn;
                    border-radius: 10px;
                    padding: 6px;

                    a {
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 13px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: white;
                    }
                }
            }
        }

        .Checkout-tong {
            width: 100%;
            margin: 0;

            .Checkout-phong {
                .Checkout-phong-rap {
                    width: 90%;
                    margin: 0 auto;

                    .Checkout-phong-rap-TTR {
                        margin-bottom: 20px;

                        .Checkout-phong-rap-img {
                            margin-right: 15px;

                            img {}
                        }

                        .Checkout-phong-rap-text {
                            color: white;

                            p {
                                font-family: fonttextbicine;
                                font-size: 35px;
                                margin-bottom: 0;
                            }

                            span {
                                font-family: fonttextbicine;
                                font-size: 20px;
                            }
                        }
                    }

                    .Checkout-phong-rap-ghe {
                        h4 {
                            color: white;
                        }

                        .manhinh {
                            height: 150px;

                            img {
                                border-radius: 10px;
                            }
                        }

                        .ghengoi {
                            .ghengoi-xxxx {
                                margin-left: 5px;

                            }

                            button {
                                text-align: center;
                            }


                        }

                        .ghengoi-mota {
                            margin-top: 30px;
                            justify-content: center;

                            .ghengoi-text {

                                .gthuong {
                                    padding: 2px 12px;
                                    background-color: rgb(221, 221, 221);
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                .gvip {
                                    padding: 2px 12px;
                                    background-color: #ee1fa9;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                .gdadat {
                                    padding: 2px 12px;
                                    background-color: #fa424b;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                .gdangdat {
                                    padding: 2px 12px;
                                    background-color: #6fe683;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                span {
                                    color: white;
                                    margin-right: 9px;
                                    font-family: fonttextbicine;
                                    font-size: 15px;

                                }

                            }
                        }
                    }
                }
            }

            .Checkout-ve {
                width: 100%;


                h4 {}

                h6 {
                    .soghe {}
                }

                p {

                    .tien {}

                    span {}
                }

                input {}

                select {}

                .tien {}



                button {

                    &:hover {}
                }
            }
        }
    }

    .Checkout-ttdv {
        width: 100%;
        margin-top: 50px;

        .Checkout-trang {
            border-radius: 20px;

            width: 90%;
            height: 750px;
            margin: 0 auto;
            background-color: white;
            box-shadow: 0 0 10px white;

            .Checkout-mau {
                background: linear-gradient(100deg, #8d63f0, #32c5cd);
                height: 120px;
                text-align: center;
                border-radius: 20px;

                h1 {
                    font-family: fonttextbicine;
                    color: #8d63f0;
                    font-size: 40px;
                }

                h3 {
                    font-family: fonttextbicine;
                    color: #8d63f0;
                    font-size: 25px;
                }

                img {
                    margin-top: 30px;
                    border-radius: 100%;
                    border: 6px solid white;
                    width: 150px;
                }

                .Checkout-tttk {
                    text-align: left;
                    width: 90%;
                    margin: 0 auto;

                    .Checkout-tttk-2 {
                        margin-top: 10px;

                        .Checkout-tungve {
                            .Checkout-img {
                                img {
                                    border-radius: 10px;
                                    margin-top: 0;
                                    width: 65px;
                                    border: 0;
                                }
                            }

                            .Checkout-text {
                                h4 {
                                    font-family: fonttextbicine;

                                }

                                p {
                                    margin-bottom: 0;
                                }
                            }
                        }

                    }


                }
            }
        }

        .gach {
            hr {
                margin-top: 50px;
                border: 1px solid white;
            }
        }

    }
}

@media only screen and(min-width:768px) and (max-width:1023px) {
    .Checkout {
        // width: 100%;

        min-height: 100vh;

        .Checkout-thanhcong {
            display: flex;
            align-items: center;
            justify-content: center;

            .Checkout-thanhcong-content-lon {
                background-color: rgba(0, 0, 0, 0.253);
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: 10;
                display: none;
                // align-items: center;
                // justify-content: center;

            }

            .Checkout-thanhcong-content {
                position: fixed;
                top: 30%;
                // left: 25%;
                width: 48%;
                background: white;
                padding: 20px;
                border-radius: 15px;
                text-align: center;
                opacity: 0;
                z-index: 11;
                transition: opacity ease 0.6s;

                i {
                    color: #6fe683;
                    font-size: 135px;
                    margin-bottom: 20px;
                }

                h3 {
                    font-family: $font-bicine2;
                    font-size: 47px;
                    margin-bottom: 20px;
                }

                button {
                    border: none;
                    background: $bg-color-btn;
                    border-radius: 10px;
                    padding: 10px;

                    a {
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: white;
                    }
                }
            }
        }

        .Checkout-tong {
            width: 100%;
            margin: 0;

            .Checkout-phong {
                width: 100%;

                .Checkout-phong-rap {
                    width: 90%;
                    margin: 0 auto;

                    .Checkout-phong-rap-TTR {
                        margin-bottom: 20px;

                        .Checkout-phong-rap-img {
                            margin-right: 15px;

                            img {}
                        }

                        .Checkout-phong-rap-text {
                            color: white;

                            p {
                                font-family: fonttextbicine;
                                font-size: 35px;
                                margin-bottom: 0;
                            }

                            span {
                                font-family: fonttextbicine;
                                font-size: 20px;
                            }
                        }
                    }

                    .Checkout-phong-rap-ghe {
                        h4 {
                            color: white;
                        }

                        .manhinh {
                            height: 150px;

                            img {
                                border-radius: 10px;
                            }
                        }

                        .ghengoi {
                            margin-left: 10px;

                            .ghengoi-xxxx {
                                margin-left: 0;

                            }

                            button {
                                font-size: 10px;
                                text-align: center;
                            }


                        }

                        .ghengoi-mota {
                            margin-top: 30px;
                            justify-content: center;

                            .ghengoi-text {
                                margin-bottom: 20px;

                                .gthuong {
                                    padding: 5px 18px;
                                    background-color: #dddddd;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                .gvip {
                                    padding: 5px 18px;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                .gdadat {
                                    padding: 5px 18px;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                .gdangdat {
                                    padding: 5px 18px;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                span {
                                    margin-right: 20px;
                                    font-size: 18px;
                                }

                            }
                        }
                    }
                }
            }

            .Checkout-ve {
                width: 100%;
                min-height: 0;

                h4 {}

                h6 {
                    .soghe {}
                }

                p {

                    .tien {}

                    span {}
                }

                input {}

                select {}

                .tien {}



                button {

                    &:hover {}
                }
            }
        }
    }

    .Checkout-ttdv {
        width: 100%;
        margin-top: 50px;

        .Checkout-trang {
            border-radius: 20px;

            width: 90%;
            height: 750px;
            margin: 0 auto;
            background-color: white;
            box-shadow: 0 0 10px white;

            .Checkout-mau {
                background: linear-gradient(100deg, #8d63f0, #32c5cd);
                height: 180px;
                text-align: center;
                border-radius: 20px;

                h1 {
                    font-family: fonttextbicine;
                    color: #8d63f0;
                    font-size: 50px;
                }

                h3 {
                    font-family: fonttextbicine;
                    color: #8d63f0;
                    font-size: 35px;
                }

                img {
                    margin-top: 60px;
                    border-radius: 100%;
                    border: 6px solid white;
                    width: 200px;
                }

                .Checkout-tttk {
                    text-align: left;
                    width: 95%;
                    margin: 0 auto;

                    .Checkout-tttk-2 {
                        margin-top: 20px;

                        .Checkout-tungve {
                            .Checkout-img {
                                img {
                                    border-radius: 10px;
                                    margin-top: 0;
                                    width: 70px;
                                    border: 0;
                                }
                            }

                            .Checkout-text {
                                h4 {
                                    font-family: fonttextbicine;

                                }

                                p {
                                    margin-bottom: 0;
                                }
                            }
                        }

                    }


                }
            }
        }

        .gach {
            hr {
                margin-top: 50px;
                border: 1px solid white;
            }
        }

    }
}

@media only screen and (min-width:1024px) and (max-width:1119px) {
    .Checkout {
        // width: 100%;

        min-height: 100vh;

        .Checkout-thanhcong {
            display: flex;
            align-items: center;
            justify-content: center;

            .Checkout-thanhcong-content-lon {
                background-color: rgba(0, 0, 0, 0.253);
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: 10;
                display: none;
                // align-items: center;
                // justify-content: center;

            }

            .Checkout-thanhcong-content {
                position: fixed;
                top: 30%;
                // left: 25%;
                width: 40%;
                background: white;
                padding: 20px;
                border-radius: 15px;
                text-align: center;
                opacity: 0;
                z-index: 11;
                transition: opacity ease 0.6s;

                i {
                    color: #6fe683;
                    font-size: 135px;
                    margin-bottom: 20px;
                }

                h3 {
                    font-family: $font-bicine2;
                    font-size: 47px;
                    margin-bottom: 20px;
                }

                button {
                    border: none;
                    background: $bg-color-btn;
                    border-radius: 10px;
                    padding: 10px;

                    a {
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: white;
                    }
                }
            }
        }

        .Checkout-tong {
            width: 100%;
            margin: 0;

            .Checkout-phong {
                width: 100%;

                .Checkout-phong-rap {
                    width: 90%;
                    margin: 0 auto;

                    .Checkout-phong-rap-TTR {
                        margin-bottom: 20px;

                        .Checkout-phong-rap-img {
                            margin-right: 15px;

                            img {}
                        }

                        .Checkout-phong-rap-text {
                            color: white;

                            p {
                                font-family: fonttextbicine;
                                font-size: 35px;
                                margin-bottom: 0;
                            }

                            span {
                                font-family: fonttextbicine;
                                font-size: 20px;
                            }
                        }
                    }

                    .Checkout-phong-rap-ghe {
                        h4 {
                            color: white;
                        }

                        .manhinh {
                            height: 150px;

                            img {
                                border-radius: 10px;
                            }
                        }

                        .ghengoi {
                            .ghengoi-xxxx {
                                margin-left: 40px;

                            }

                            button {
                                font-size: 12px;
                                text-align: center;
                            }


                        }

                        .ghengoi-mota {
                            margin-top: 30px;
                            justify-content: center;

                            .ghengoi-text {
                                margin-bottom: 20px;

                                .gthuong {
                                    padding: 2px 22px;
                                    background-color: #dddddd;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                .gvip {
                                    padding: 2px 22px;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                .gdadat {
                                    padding: 2px 22px;
                                    border-radius: 8px;
                                    margin-right: 5px;

                                }

                                .gdangdat {
                                    padding: 2px 22px;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                span {
                                    font-size: 30px;
                                    margin-right: 30px;
                                }

                            }
                        }
                    }
                }
            }

            .Checkout-ve {
                width: 100%;
                min-height: 0;

                h4 {}

                h6 {
                    .soghe {}
                }

                p {

                    .tien {}

                    span {}
                }

                input {}

                select {}

                .tien {}



                button {

                    &:hover {}
                }
            }
        }
    }

    .Checkout-ttdv {
        width: 100%;
        margin-top: 50px;

        .Checkout-trang {
            border-radius: 20px;

            width: 90%;
            height: 1000px;
            margin: 0 auto;
            background-color: white;
            box-shadow: 0 0 10px white;

            .Checkout-mau {
                background: linear-gradient(100deg, #8d63f0, #32c5cd);
                height: 230px;
                text-align: center;
                border-radius: 20px;

                h1 {
                    font-family: fonttextbicine;
                    color: #8d63f0;
                    font-size: 60px;
                }

                h3 {
                    font-family: fonttextbicine;
                    color: #8d63f0;
                    font-size: 45px;
                }

                img {
                    margin-top: 100px;
                    border-radius: 100%;
                    border: 6px solid white;
                    width: 250px;
                }

                .Checkout-tttk {
                    text-align: left;
                    width: 95%;
                    margin: 0 auto;

                    .Checkout-tttk-2 {
                        margin-top: 20px;

                        .Checkout-tungve {
                            .Checkout-img {
                                img {
                                    border-radius: 10px;
                                    margin-top: 0;
                                    width: 112px;
                                    border: 0;
                                }
                            }

                            .Checkout-text {
                                h4 {
                                    font-size: 35px;
                                    font-family: fonttextbicine;

                                }

                                p {
                                    font-size: 20px;

                                    margin-bottom: 0;
                                }
                            }
                        }

                    }


                }
            }
        }

        .gach {
            hr {
                margin-top: 50px;
                border: 1px solid white;
            }
        }

    }
}

@media only screen and (min-width:1200px) and (max-width:1359px) {
    .Checkout {
        // width: 100%;

        min-height: 100vh;

        .Checkout-thanhcong {
            display: flex;
            align-items: center;
            justify-content: center;

            .Checkout-thanhcong-content-lon {
                background-color: rgba(0, 0, 0, 0.253);
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: 10;
                display: none;
                // align-items: center;
                // justify-content: center;

            }

            .Checkout-thanhcong-content {
                position: fixed;
                top: 30%;
                // left: 25%;
                width: 40%;
                background: white;
                padding: 20px;
                border-radius: 15px;
                text-align: center;
                opacity: 0;
                z-index: 11;
                transition: opacity ease 0.6s;

                i {
                    color: #6fe683;
                    font-size: 135px;
                    margin-bottom: 20px;
                }

                h3 {
                    font-family: $font-bicine2;
                    font-size: 47px;
                    margin-bottom: 20px;
                }

                button {
                    border: none;
                    background: $bg-color-btn;
                    border-radius: 10px;
                    padding: 10px;

                    a {
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: white;
                    }
                }
            }
        }

        .Checkout-tong {
            width: 100%;
            margin: 0;

            .Checkout-phong {
                width: 100%;

                .Checkout-phong-rap {
                    width: 90%;
                    margin: 0 auto;

                    .Checkout-phong-rap-TTR {
                        margin-bottom: 20px;

                        .Checkout-phong-rap-img {
                            img {}
                        }

                        .Checkout-phong-rap-text {
                            color: white;

                            p {
                                font-family: fonttextbicine;
                                font-size: 35px;
                                margin-bottom: 0;
                            }

                            span {
                                font-family: fonttextbicine;
                                font-size: 20px;
                            }
                        }
                    }

                    .Checkout-phong-rap-ghe {
                        h4 {
                            color: white;
                        }

                        .manhinh {
                            height: 150px;

                            img {
                                border-radius: 10px;
                            }
                        }

                        .ghengoi {
                            .ghengoi-xxxx {
                                margin-left: 0;

                            }

                            button {
                                font-size: 12px;
                                text-align: center;
                            }


                        }

                        .ghengoi-mota {
                            margin-top: 35px;
                            justify-content: center;

                            .ghengoi-text {
                                margin-bottom: 20px;

                                .gthuong {
                                    padding: 0 19px;
                                    background-color: #dddddd;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                .gvip {
                                    padding: 0 19px;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                .gdadat {
                                    padding: 0 19px;
                                    border-radius: 8px;
                                    margin-right: 5px;

                                }

                                .gdangdat {
                                    padding: 0 19px;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }

                                span {
                                    font-size: 30px;
                                    margin-right: 30px;
                                }

                            }
                        }
                    }
                }
            }

            .Checkout-ve {
                width: 100%;
                min-height: 0;

                h4 {}

                h6 {
                    .soghe {}
                }

                p {

                    .tien {}

                    span {}
                }

                input {}

                select {}

                .tien {}



                button {

                    &:hover {}
                }
            }
        }
    }

    .Checkout-ttdv {
        width: 100%;
        margin-top: 50px;

        .Checkout-trang {
            border-radius: 20px;

            width: 90%;
            height: 1000px;
            margin: 0 auto;
            background-color: white;
            box-shadow: 0 0 10px white;

            .Checkout-mau {
                background: linear-gradient(100deg, #8d63f0, #32c5cd);
                height: 230px;
                text-align: center;
                border-radius: 20px;

                h1 {
                    font-family: fonttextbicine;
                    color: #8d63f0;
                    font-size: 60px;
                }

                h3 {
                    font-family: fonttextbicine;
                    color: #8d63f0;
                    font-size: 45px;
                }

                img {
                    margin-top: 100px;
                    border-radius: 100%;
                    border: 6px solid white;
                    width: 250px;
                }

                .Checkout-tttk {
                    text-align: left;
                    width: 95%;
                    margin: 0 auto;

                    .Checkout-tttk-2 {
                        margin-top: 20px;

                        .Checkout-tungve {
                            .Checkout-img {
                                img {
                                    border-radius: 10px;
                                    margin-top: 0;
                                    width: 112px;
                                    border: 0;
                                }
                            }

                            .Checkout-text {
                                h4 {
                                    font-size: 35px;
                                    font-family: fonttextbicine;

                                }

                                p {
                                    font-size: 20px;

                                    margin-bottom: 0;
                                }
                            }
                        }

                    }


                }
            }
        }

        .gach {
            hr {
                margin-top: 50px;
                border: 1px solid white;
            }
        }

    }
}